<div class="row">
  <div class= "col-xs-3 panel panel-default">
    <div class="panel-body">
      <div class="row">
        <%= image_tag(current_user.avatar.url(:thumb)) %>
        <h3><%= current_user.name %></h3>
        <h5><%= current_user.username %></h5>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <span class="small text">GOALS</span><br />
          <%= current_user.goals.count %>
        </div>
        <!--<div class="col-xs-4">-->
        <!--  <span class="small text">FOLLOWING</span><br />-->
          <%# current_user.relationships.count %>
        <!--  </div>-->
        <!--<div class="col-xs-4">-->
        <!--  <span class="small text">FOLLOWERS</span><br />-->
          <%# current_user.inverse_relationships.count %>
        <!--  </div>-->
      </div>
      <h5><p><%= current_user.bio %></p></h5>
      <h5><%= current_user.location %></h5>
      <h5>Joined on <%= current_user.created_at.strftime("%B %Y") %></h5>
    </div>
    </div>
    <div class= "col-xs-1"></div>

    <div class= "col-xs-7 panel panel-default">
      <div class="panel-body">
        <div class="well well-lg">
          <%= render 'goals/form' %>
        </div>
        <% @goals.each do |goal|%>
        <%= image_tag(goal.user.avatar.url(:thumb)) %>
        <strong><%= goal.user.username %> </strong>
        <br />
        <br />
        <%= goal.description %>
        <br />
        <br />
        <%# if current_user.likes?(tweet) %>
          <%# link_to tweet_like_path(tweet), method: :delete do %>
            <!--<i class="glyphicon glyphicon-heart"></i>-->
          <%# end %>

          <%# else %>
            <%# link_to tweet_like_path(tweet), method: :post do %>
            <!--<i class="glyphicon glyphicon-heart"></i>-->
          <%# end %>
        <%#end %>
        <br />
        <hr>
        <% end %>
      </div>

  </div>
</div>
