<p id="notice"><%= notice %></p>


<p>
  <strong>My Goal:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user.username %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goal_path %>
