<!DOCTYPE html>
<html>
<head>
  <title>Accountability</title>
<<<<<<< HEAD

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
>>>>>>> 081d3f5ecb1728bc9b5eb979671f6f2aeafd2f31
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav" %>
<div class="container">
<%= yield %>
</div>


</body>
</html>
