<!DOCTYPE html>
<html>
<head>
  <title>Accountability</title>
<<<<<<< HEAD

  <!-- Latest compiled and minified CSS -->
  <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
   <!--Optional theme -->
  <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <!--Latest compiled and minified JavaScript -->
  <%#= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%#= csrf_meta_tags %>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>
>>>>>>> 081d3f5ecb1728bc9b5eb979671f6f2aeafd2f31
</head>
<body>

<%= render "layouts/nav" %>
<div class="container">
<%= yield %>
</div>


</body>
</html>
